// Your custom variables
$link-color : white;
$link-hover-color: red;

// "primary": $primary-color: 
// "danger": $danger-color,
// "warning": $warning-color,
// "success": $success-color,
// "info": $info-color,
// "default": $default-color,
$secondary-color: #6E6E6D // "dark": $black,
// "light": $white