// Your custom variables
$link-color : white;
$link-hover-color: red;

// "primary": $primary-color: 
// "danger": $danger-color,
// "warning": $warning-color,
// "success": $success-color,
// "default": $default-color,
// "dark": $black,
// "light": $white

$info-color: #4D4D4D;
$secondary-color: #6E6E6D;